* {
    padding: 0;
    margin: 0;
}

#content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

div {
    border: 2px solid black;
}

.tab,
.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2px 0px;
    position: fixed;
    z-index: 2;
    min-width: 100vw;
}

.tab {
    top: 0;
    background-color: white;
}

.footer {
    bottom: 0;
    background-color: grey;
}

button {
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    background-color: lightgrey;
    outline: 2px solid grey;
}

.tab button:hover {
    background-color: #eee;
}

.tab button.active {
    background-color: #aaa;
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-color: blue;
}

.home {
    justify-content: center;
}

.menu {
    align-items: center;
}

.home.tabcontent {
    position: relative;
    background-image: url("../assests/images/burger-and-fries.jpg");
    background-size: 100vw 110vh;
}

.tabcontent .description {
    color: white;
    position: absolute;
    top: 0;
    margin: 48px;
}

.description h1 {
    font-size: 4rem;
}

.description p {
    width: 50vw;
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 16px;
    border: none;
    padding: 8px;
    margin-top: 8px;
    margin-left: 24px;
    line-height: 25px;
}
